@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kb7v63');
  src:  url('fonts/icomoon.eot?kb7v63#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kb7v63') format('truetype'),
    url('fonts/icomoon.woff?kb7v63') format('woff'),
    url('fonts/icomoon.svg?kb7v63#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e92c";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-twitter:before {
  content: "\ea96";
}
